body {
    background: url(/src/img/start.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 1000px;
    height: 40%;
    text-align: center;
}

@font-face {
    font-family: 'Kosko';
    src: url('/src/fonts/KoskoRegular-Regular.ttf');
}

h1 {
    color: black;
    font-family: Kosko;
    font-size: 30px;
}

button {
    width: 300px;
    height: 30%;
    font-size: 30px;
    background-color: rgb(207, 128, 31);
    font-family: Kosko;
}

@media screen and (max-width: 960px) {
    .container {
        width: 900px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 700px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 450px;
    }
    h1 {
        font-size: 25px;
    }
}